<!DOCTYPE html>
<html>
<head>
    <title>Liste des Pods Kubernetes</title>
</head>
<body>
    <h1>Liste des Pods Kubernetes</h1>
    <table border="1">
        <tr>
            <th>Namespace</th>
            <th>Nom</th>
            <th>Statut</th>
            <th>IP</th>
        </tr>
        {% for pod in pods %}
        <tr>
            <td>{{ pod.namespace }}</td>
            <td>{{ pod.name }}</td>
            <td>{{ pod.status }}</td>
            <td>{{ pod.ip }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
