<!DOCTYPE html>
<html>
<head>
    <title>Evil coffee</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>
<body>
    <h2> Evil coffee ! </h2>
    <table border="1">
        <tr>
            <th>Namespace</th>
            <th>Pod name</th>
            <th>Status</th>
            <th>IP</th>
        </tr>
        {% for pod in pods %}
        <tr>
            <td>{{ pod.namespace }}</td>
            <td>{{ pod.name }}</td>
            <td>{{ pod.status }}</td>
            <td>{{ pod.ip }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
